In [22]:
import pandas as pd
import numpy as np

In [52]:
original_df = pd.read_csv('Sales_Data.csv')
original_df.head()

,Unnamed: 0,Order ID,Product Category,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,Time of Day
0,0,295665,Laptops and Computers,Macbook Pro Laptop,1,1700.00,30-12-2019 00:01,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,Night
1,1,295666,Home Appliances,LG Washing Machine,1,600.00,29-12-2019 07:03,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,Morning
2,2,295667,Charging Cables,USB-C Charging Cable,1,11.95,12-12-2019 18:21,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,Evening
3,3,295668,Monitors,27in FHD Monitor,1,149.99,22-12-2019 15:13,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,Afternoon
4,4,295669,Charging Cables,USB-C Charging Cable,1,11.95,18-12-2019 12:38,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,Afternoon

In [48]:
df = original_df.copy()

In [51]:
df = pd.read_csv('Sales_Data.csv')

In [34]:
original_df

,Unnamed: 0,Order ID,Product Category,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,Time of Day
0,0,295665,Laptops and Computers,Macbook Pro Laptop,1,1700.00,30-12-2019 00:01,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,Night
1,1,295666,Home Appliances,LG Washing Machine,1,600.00,29-12-2019 07:03,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,Morning
2,2,295667,Charging Cables,USB-C Charging Cable,1,11.95,12-12-2019 18:21,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,Evening
3,3,295668,Monitors,27in FHD Monitor,1,149.99,22-12-2019 15:13,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,Afternoon
4,4,295669,Charging Cables,USB-C Charging Cable,1,11.95,18-12-2019 12:38,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,Afternoon
...,...,...,...,...,...,...,...,...,...,...,...,...,...
185945,13617,222905,Batterie,AAA Batteries (4-pack),1,2.99,07-06-2019 19:02,"795 Pine St, Boston, MA 02215",6,2.99,Boston,19,Evening
185946,13618,222906,Monitors,27in FHD Monitor,1,149.99,01-06-2019 19:29,"495 North St, New York City, NY 10001",6,149.99,New York City,19,Evening
185947,13619,222907,Charging Cables,USB-C Charging Cable,1,11.95,22-06-2019 18:57,"319 Ridge St, San Francisco, CA 94016",6,11.95,San Francisco,18,Evening
185948,13620,222908,Charging Cables,USB-C Charging Cable,1,11.95,26-06-2019 18:35,"916 Main St, San Francisco, CA 94016",6,11.95,San Francisco,18,Evening
185949,13621,222909,Batterie,AAA Batteries (4-pack),1,2.99,25-06-2019 14:33,"209 11th St, Atlanta, GA 30301",6,2.99,Atlanta,14,Afternoon

# Dataset name

In [23]:
print("Dataset Name: Sales_Data.csv")

Dataset Name: Sales_Data.csv

# overview

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        185950 non-null  int64
 1   Order ID          185950 non-null  int64
 2   Product Category  185950 non-null  object
 3   Product           185950 non-null  object
 4   Quantity Ordered  185950 non-null  int64
 5   Price Each        185950 non-null  float64
 6   Order Date        185950 non-null  object
 7   Purchase Address  185950 non-null  object
 8   Month             185950 non-null  int64
 9   Sales             185950 non-null  float64
 10  City              185950 non-null  object
 11  Hour              185950 non-null  int64
 12  Time of Day       185950 non-null  object
dtypes: float64(2), int64(5), object(6)
memory usage: 18.4+ MB

# Statistical summary (numeric columns only by default)

In [43]:
df.describe()

,Unnamed: 0,Order ID,Quantity Ordered,Price Each,Month,Sales,Hour
count,185950.000000,185950.000000,185950.000000,185950.000000,185950.000000,185950.000000,185950.000000
mean,8340.388475,230417.569379,1.124383,184.399735,7.059140,185.490917,14.413305
std,5450.554093,51512.737110,0.442793,332.731330,3.502996,332.919771,5.423416
min,0.000000,141234.000000,1.000000,2.990000,1.000000,2.990000,0.000000
25%,3894.000000,185831.250000,1.000000,11.950000,4.000000,11.950000,11.000000
50%,7786.000000,230367.500000,1.000000,14.950000,7.000000,14.950000,15.000000
75%,11872.000000,275035.750000,1.000000,150.000000,10.000000,150.000000,19.000000
max,25116.000000,319670.000000,9.000000,1700.000000,12.000000,3400.000000,23.000000

# Row count

In [29]:
print("Row Count:", df.shape[0])

Row Count: 185950

In [27]:
 df.shape

(185950, 13)

# Column count

In [32]:
print("Column Count:", df.shape[1])

Column Count: 13

In [31]:
df.columns

Index(['Unnamed: 0', 'Order ID', 'Product Category', 'Product',
       'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address',
       'Month', 'Sales', 'City', 'Hour', 'Time of Day'],
      dtype='object')

# Data types per column

In [37]:
print("\nData Types per Column:")
print(df.dtypes)

Data Types per Column:
Unnamed: 0            int64
Order ID              int64
Product Category     object
Product              object
Quantity Ordered      int64
Price Each          float64
Order Date           object
Purchase Address     object
Month                 int64
Sales               float64
City                 object
Hour                  int64
Time of Day          object
dtype: object

In [35]:
df.dtypes

Unnamed: 0            int64
Order ID              int64
Product Category     object
Product              object
Quantity Ordered      int64
Price Each          float64
Order Date           object
Purchase Address     object
Month                 int64
Sales               float64
City                 object
Hour                  int64
Time of Day          object
dtype: object

# Missing values per column

In [38]:
df.isnull().sum()

Unnamed: 0          0
Order ID            0
Product Category    0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
Month               0
Sales               0
City                0
Hour                0
Time of Day         0
dtype: int64

# Remove missing value

In [42]:
df.dropna(inplace=True)

# Duplicate row count

In [40]:
print("\nDuplicate Row Count:")
print(df.duplicated().sum())

Duplicate Row Count:
0

In [39]:
df.duplicated().sum()

0

In [41]:
df.drop_duplicates(inplace=True)

In [50]:

df['Quantity Ordered'] = pd.to_numeric(df['Quantity Ordered'])
df['Price Each'] = pd.to_numeric(df['Price Each'])
df['Sales'] = pd.to_numeric(df['Sales'])