In [5]:
import pandas as pd

In [6]:
original_df = pd.read_csv('Sales_Data.csv')
original_df.head()

,Unnamed: 0,Order ID,Product Category,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,Time of Day
0,0,295665,Laptops and Computers,Macbook Pro Laptop,1,1700.00,30-12-2019 00:01,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,Night
1,1,295666,Home Appliances,LG Washing Machine,1,600.00,29-12-2019 07:03,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,Morning
2,2,295667,Charging Cables,USB-C Charging Cable,1,11.95,12-12-2019 18:21,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,Evening
3,3,295668,Monitors,27in FHD Monitor,1,149.99,22-12-2019 15:13,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,Afternoon
4,4,295669,Charging Cables,USB-C Charging Cable,1,11.95,18-12-2019 12:38,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,Afternoon

In [7]:
df = original_df.copy()
df = pd.read_csv('Sales_Data.csv')
print(df.shape)
print(df.columns)

(185950, 13)
Index(['Unnamed: 0', 'Order ID', 'Product Category', 'Product',
       'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address',
       'Month', 'Sales', 'City', 'Hour', 'Time of Day'],
      dtype='object')

# Monthly Sales Summary CSV

In [9]:
monthly_sales_summary = (
    df.groupby('Month')['Sales']
    .sum()
    .reset_index()
)

monthly_sales_summary.to_csv("Monthly_Sales_Summary.csv", index=False)

# Product Sales Summary CSV

In [15]:
product_sales_summary = (df.groupby(['Product Category', 'Product'])
    .agg(
    Total_Quantity=('Quantity Ordered', 'sum'),
        Total_Sales=('Sales', 'sum')
    )
    .reset_index()
)

product_sales_summary.to_csv("Product_Sales_Summary.csv", index=False)

# City-wise Sales Summary CSV

In [16]:
city_sales_summary = (df.groupby('City')['Sales'].sum().reset_index()
)

city_sales_summary.to_csv("City_Sales_Summary.csv", index=False)