In [16]:
import pandas as pd

In [17]:
original_df = pd.read_csv('Sales_Data.csv')
original_df.head()

,Unnamed: 0,Order ID,Product Category,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,Time of Day
0,0,295665,Laptops and Computers,Macbook Pro Laptop,1,1700.00,30-12-2019 00:01,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,Night
1,1,295666,Home Appliances,LG Washing Machine,1,600.00,29-12-2019 07:03,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,Morning
2,2,295667,Charging Cables,USB-C Charging Cable,1,11.95,12-12-2019 18:21,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,Evening
3,3,295668,Monitors,27in FHD Monitor,1,149.99,22-12-2019 15:13,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,Afternoon
4,4,295669,Charging Cables,USB-C Charging Cable,1,11.95,18-12-2019 12:38,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,Afternoon

In [18]:
df = original_df.copy()
df = pd.read_csv('Sales_Data.csv')

In [31]:
print(df.shape)
print(df.head(2))

(185950, 13)
   Unnamed: 0  Order ID       Product Category             Product  \
0           0    295665  Laptops and Computers  Macbook Pro Laptop
1           1    295666        Home Appliances  LG Washing Machine

   Quantity Ordered  Price Each        Order Date  \
0                 1      1700.0  30-12-2019 00:01
1                 1       600.0  29-12-2019 07:03

                         Purchase Address  Month   Sales            City  \
0  136 Church St, New York City, NY 10001     12  1700.0   New York City
1     562 2nd St, New York City, NY 10001     12   600.0   New York City

   Hour Time of Day
0     0       Night
1     7     Morning

In [20]:
df.shape

(185950, 13)

In [21]:
df.describe()

,Unnamed: 0,Order ID,Quantity Ordered,Price Each,Month,Sales,Hour
count,185950.000000,185950.000000,185950.000000,185950.000000,185950.000000,185950.000000,185950.000000
mean,8340.388475,230417.569379,1.124383,184.399735,7.059140,185.490917,14.413305
std,5450.554093,51512.737110,0.442793,332.731330,3.502996,332.919771,5.423416
min,0.000000,141234.000000,1.000000,2.990000,1.000000,2.990000,0.000000
25%,3894.000000,185831.250000,1.000000,11.950000,4.000000,11.950000,11.000000
50%,7786.000000,230367.500000,1.000000,14.950000,7.000000,14.950000,15.000000
75%,11872.000000,275035.750000,1.000000,150.000000,10.000000,150.000000,19.000000
max,25116.000000,319670.000000,9.000000,1700.000000,12.000000,3400.000000,23.000000

In [45]:
df.columns

Index(['Unnamed: 0', 'Order ID', 'Product Category', 'Product',
       'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address',
       'Month', 'Sales', 'City', 'Hour', 'Time of Day'],
      dtype='object')

# Task: Load product-Wise Dataset

In [48]:
product_sales = df[["Order ID","Product Category" , "Product" , "Quantity Ordered", "Price Each"]]
product_sales.shape

(185950, 5)

In [47]:
product_sales_clean = product_sales.drop_duplicates().reset_index(drop=True)
product_sales_clean.shape

(185686, 5)

In [35]:
product_sales_clean.columns

Index(['Product Category', 'Product', 'Sales'], dtype='object')

In [24]:
df['Sales'] = df['Quantity Ordered'] * df['Price Each']

# Maximum Sales Product (Overall)

In [36]:
product_sales = df.groupby('Product')['Sales'].sum()
top_product = product_sales.idxmax()
top_product_sales = product_sales.max()
top_product, top_product_sales

('Macbook Pro Laptop', 8037600.0)

# Peak Sales Hour

In [37]:
hour_sales = df.groupby('Hour')['Sales'].sum()

peak_hour = hour_sales.idxmax()
peak_hour_sales = hour_sales.max()

peak_hour, peak_hour_sales

(19, 2412938.54)

# Product-wise total sales

In [38]:
product_sales = (df.groupby(['Product Category', 'Product'])['Sales'].sum().reset_index())

product_sales

          Product Category                     Product       Sales
0            Audio Devices    Apple Airpods Headphones  2349150.00
1            Audio Devices  Bose SoundSport Headphones  1345565.43
2            Audio Devices            Wired Headphones   246478.43
3                 Batterie       AA Batteries (4-pack)   106118.40
4                 Batterie      AAA Batteries (4-pack)    92740.83
5          Charging Cables    Lightning Charging Cable   347094.15
6          Charging Cables        USB-C Charging Cable   286501.25
7    Entertainment Devices               Flatscreen TV  1445700.00
8          Home Appliances                    LG Dryer   387600.00
9          Home Appliances          LG Washing Machine   399600.00
10   Laptops and Computers          Macbook Pro Laptop  8037600.00
11   Laptops and Computers             ThinkPad Laptop  4129958.70
12                Monitors                20in Monitor   454148.71
13                Monitors      27in 4K Gaming Monitor  2435097.56
14                Monitors            27in FHD Monitor  1132424.50
15                Monitors      34in Ultrawide Monitor  2355558.01
16  Phones and Accessories                Google Phone  3319200.00
17  Phones and Accessories             Vareebadd Phone   827200.00
18  Phones and Accessories                      iPhone  4794300.00

# Find TOP (Maximum) Selling Products

In [39]:
top_products = product_sales.sort_values('Sales', ascending=False)
top_products.head(10)

          Product Category                     Product       Sales
10   Laptops and Computers          Macbook Pro Laptop  8037600.00
18  Phones and Accessories                      iPhone  4794300.00
11   Laptops and Computers             ThinkPad Laptop  4129958.70
16  Phones and Accessories                Google Phone  3319200.00
13                Monitors      27in 4K Gaming Monitor  2435097.56
15                Monitors      34in Ultrawide Monitor  2355558.01
0            Audio Devices    Apple Airpods Headphones  2349150.00
7    Entertainment Devices               Flatscreen TV  1445700.00
1            Audio Devices  Bose SoundSport Headphones  1345565.43
14                Monitors            27in FHD Monitor  1132424.50

# Product-wise Quantity Sold

In [40]:
product_quantity = (df.groupby('Product')['Quantity Ordered'].sum().reset_index().sort_values('Quantity Ordered', ascending=False))

product_quantity.head(10)

                       Product  Quantity Ordered
5       AAA Batteries (4-pack)             31017
4        AA Batteries (4-pack)             27635
15        USB-C Charging Cable             23975
12    Lightning Charging Cable             23217
17            Wired Headphones             20557
6     Apple Airpods Headphones             15661
7   Bose SoundSport Headphones             13457
2             27in FHD Monitor              7550
18                      iPhone              6849
1       27in 4K Gaming Monitor              6244

# Category-level Insight

In [41]:
category_sales = (df.groupby('Product Category')['Sales'].sum().reset_index()
    .sort_values('Sales', ascending=False))
category_sales

         Product Category        Sales
5   Laptops and Computers  12167558.70
7  Phones and Accessories   8940700.00
6                Monitors   6377228.78
0           Audio Devices   3941193.86
3   Entertainment Devices   1445700.00
4         Home Appliances    787200.00
2         Charging Cables    633595.40
1                Batterie    198859.23